.body {
  font-size: 1.2em;
}

.just {
  text-align: justify;
}

.centert{
  display:block;
  margin:auto;
}

.centertg{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.centertxt{
  text-align: center;
}
